body {
    text-align: center;
}

table {
    table-layout: fixed;
}

th {
    width: 33%;
}

.myBox {
    width: 20%;
    margin: auto;
}

.remove {
    color: red;
    font-weight: bold; 
}

.remove:hover {
    cursor: pointer;
}

#header {
    width: 100%;
    font-size: 60px;
    background-color: #345678;
    color: white;
    font-weight: bold;
}

#leftSwitch, #rightSwitch {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    width: 5%;
}

#headerTitle {
    display: inline-block;
    width: 90%;
}

#leftSwitch:hover, #rightSwitch:hover {
    background-color: #56789a;
}

td {
    word-wrap: break-word;
}

h1 {
    font-weight: bolder;
}

